<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
     <link rel="stylesheet" href="css/normalize.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basket</title>
</head>

<body class="basketPage">
    <section class="main_wrapper">
        <div class="header_wrapper">
            <img src="images/storyPage/header-bg.svg" width="557" height="462" alt="" class="header_bg">
            <img src="images/storyPage/monster1.png" alt="monster image" class="header_monster">
            <header>

                <div class="logo">
                    <img src="images/indexPage/logo.svg" alt="logo image" class="logo_img">
                </div>

                <div class="navigation" id="navigation">
                    <nav>
                        <ul class="nav_list">

                            <li class="nav_item"><a href="index.html#manual">How it works</a></li>
                            <li class="nav_item"><a href="index.html#similarity">What it's like</a></li>
                            <li class="nav_item"><a href="index.html#about">Rewies</a></li>
                            <li class="nav_item"><a href="index.html#contact">Contacts</a></li>

                        </ul>
                    </nav>



                </div>
                <img src="images/indexPage/Hamburger_icon.png" width="22" height="22" alt="menu icon" id="menuIcon" class="menu_icon">
                <img src="images/indexPage/cancel-icon.png" width="22" height="22" alt="menu icon" id="cancelMenu" class="hide_menu-icon">
            </header>
        </div>

        <main>

            <section class="basket">
                <h2 class="basket_title">Your Basket</h2>
                <div class="basket_main">

                    <div class="basket_items">

                        <div class="basket_item" id="firstItem">
                            <div class="basket_item-info">
                                <img src="images/characterPage/girl.png" width="71" height="101" class="basket_item-img" alt="story_photo">

                                <div class="basket_item-text">
                                    <h3 class="basket_item-title">Jelly Planet</h3>
                                    <p class="basket_item-name">Anna</p>
                                </div>
                            </div>

                            <div class="price">
                                <span class="price_number">$45</span>
                                <img src="images/delete.svg" alt="delete item" class="delete" id="firstDelete">
                            </div>
                        </div>

                        <div class="basket_item" id="secondItem">
                            <div class="basket_item-info">
                                <img src="images/characterPage/girl.png" width="71" height="101" class="basket_item-img" alt="story_photo">

                                <div class="basket_item-text">
                                    <h3 class="basket_item-title">Bubbles</h3>
                                    <p class="basket_item-name">Anna</p>
                                </div>
                            </div>

                            <div class="price">
                                <span class="price_number">$45</span>
                                <img src="images/delete.svg" alt="delete item" class="delete" id="secondDelete">
                            </div>
                        </div>

                        <a href="story.html" class="another_story">Add another Story</a>
                    </div>


                    <div class="basket_settings">

                        <div class="order">
                            <h3 class="order_title">Order details</h3>
                            <div class="order_items">
                                <div class="order_item1">
                                    <p class="subtotal">Currency</p>

                                    <div class="select_items1" id="dropDown1">
                                        <span id="currency1" class="settings_currency">US Dollars</span>
                                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="dropdown_arrow">

                                          <div class="drop_hidden2" id="dropdown0">
                        <div class="dropdown_item5">
                          US Dollars
                        </div>


                        <div class="dropdown_item5">
                           EU Euro 

                        </div>
                    </div>
                                    </div>
                                </div>

                                <div class="order_item">
                                    <p class="subtotal">Subtotal</p>
                                    <span class="subtotal_price">$90</span>
                                </div>

                                <div class="order_item">
                                    <p class="delivery">Delivery</p>
                                    <span class="delivery_price">$8</span>
                                </div>

                                <div class="order_item basket_total">
                                    <p class="total_title">Total</p>
                                    <span class="total_price">$98</span>
                                </div>
                            </div>

                            <img src="images/line.svg" alt="line" class="order_line" width="1" height="195">
                        </div>

                        <div class="shipping">
                            <h3 class="shipping_title">Shipping options</h3>
                            <div class="country" id="drop2">
                                <p id="selectCountry" class="select_country">Italy</p>
                                <img src="images/indexPage/down-arrow.svg" class="dropdown_arrow" alt="arrow">


                                <div class="drop_hidden2" id="dropdown2">
                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">

                                            
                                            <p class="dropdown_inner_item2-text">English </p>
                                        </div>
                                    </div>

                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">
                                            
                                            <p class="dropdown_inner_item2-text">Spanish </p>
                                        </div>
                                    </div>

                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">

                                           
                                            <p class="dropdown_inner_item2-text">French </p>
                                        </div>
                                    </div>

                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">
                                          
                                            <p class="dropdown_inner_item2-text">German </p>
                                        </div>
                                    </div>

                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">
                                           
                                            <p class="dropdown_inner_item2-text">Italian </p>
                                        </div>
                                    </div>

                                    <div class="dropdown_item2">
                                        <div class="dropdowm_inner_item2">

                                            
                                            <p class="dropdown_inner_item2-text">Portuguese </p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="delivery_box">
                                <p class="duration">Estimated delivery time </p>
                                <span class="duration_time">9 - 12 days</span>
                            </div>
                            <div class="shipping_box">
                                <p class="shipping_price">Shipping</p>
                                <span class="shipping_price-count">$8</span>
                            </div>

                        </div>

                        <button class="basket_check" id="check">Go to Checkout<img src="images/characterPage/right-arrow.png" alt="arrow" class="button_arrow"> </button>
                    </div>

                </div>
            </section>


      
  </main>
    </section>


       <footer>

        <div class="links">
            <div class="copy">&copy; 2018 KidMons</div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item1"><a href="index.html#manual">How it works </a></li>
                    <li class="bottom_nav_item1"><a href="index.html#similarity">What it’s like</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#about">Reviews</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#contact">Contacts</a> </li>
                </ul>
            </div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item2"><a href="story.html">Stories </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#contact">Contact </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#faq">Terms and conditions</a></li>
                    <li class="bottom_nav_item2"><a href="#">Privacy</a> </li>
                </ul>
            </div>
        </div>

        <div class="selectBox_wrapper">
            <div class="selectBox">
                <div class="select_wrapper currency">
                    <span class="select_title">Currency</span>
                    <div class="select_items" id="dropDown4">
                        <span id="currency" class="fot_text">US Dollars</span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>
                </div>
                <div class="select_wrapper" id="language2">
                    <span class="select_title" id="footerLanguage">Language</span>
                    <div class="select_items">
                        <img src="images/indexPage/united-states.svg" alt="united states" class="united_states" id="countryImg">
                        <span id="selectLanguage" class="fot_text">English </span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>


                    <div class="drop_hidden3" id="dropdown3">
                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/united-states.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f1" name="f6" class="l2 foot">
                                <label for="f1" class="c1">English </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/spain.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f2" name="f6" class="l2 foot">
                                <label for="f2" class="c1">Spanish </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/france.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f3" name="f6" class="l2 foot">
                                <label for="f3" class="c1">French </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/germany.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f4" name="f6" class="l2 foot">
                                <label for="f4" class="c1">German </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/italy.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f5" name="f6" class="l2 foot">
                                <label for="f5" class="c1">Italian </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/portugal.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f6" name="f6" class="l2 foot">
                                <label for="f6" class="c1">Portuguese </label>
                            </div>
                        </div>
                    </div>

                  
                </div>
                  <div class="drop_hidden4" id="dropdown4">
                        <div class="dropdown_item1">
                               <input type="radio" id="f19" name="f6" class="l3">
                                <label for="f19" class="c1">US Dollars </label>
                        </div>


                         <div class="dropdown_item1">
                                <input type="radio" id="f20" name="f6" class="l3">
                                <label for="f20" class="c1">EU Euro </label>
                            
                            
                        </div>
                    </div>
            </div>






        </div>
        
        
    </footer>


        <script src="js/common.js"></script>
</body>

</html>