<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
     <link rel="stylesheet" href="css/normalize.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQ</title>
</head>

<body class="faqPage">
    <section class="main_wrapper">
        <div class="header_wrapper">
            <img src="images/storyPage/header-bg.svg" width="557" height="462" alt="" class="header_bg">
            <img src="images/storyPage/monster1.png" alt="monster image" class="header_monster">
            <header>

                <div class="logo">
                    <img src="images/indexPage/logo.svg" alt="logo image" class="logo_img">
                </div>

                <div class="navigation" id="navigation">
                    <nav>
                        <ul class="nav_list">

                            <li class="nav_item"><a href="index.html#manual">How it works</a></li>
                            <li class="nav_item"><a href="index.html#similarity">What it's like</a></li>
                            <li class="nav_item"><a href="index.html#about">Rewies</a></li>
                            <li class="nav_item"><a href="index.html#contact">Contacts</a></li>

                        </ul>
                    </nav>



                </div>
                <img src="images/indexPage/Hamburger_icon.png" width="22" height="22" alt="menu icon" id="menuIcon" class="menu_icon">
                <img src="images/indexPage/cancel-icon.png" width="22" height="22" alt="menu icon" id="cancelMenu" class="hide_menu-icon">
            </header>
        </div>
        
        <main>

        <h1 class="page_title">FAQs</h1>

            <div class="faq">
                <article class="faq_item first">
                    <h2 class="faq_item-title">How much does it cost?</h2>
                    <div class="answer">The cost is 27£/$40 USD/ 50 CAD. Taxes and delivery not included.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">Who's it for?</h2>
                    <div class="answer">The stories are for children between 2 and 9 years old, although a lot of
                         parents start to read stories to their babies when they're still in the tummy.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">What's it like?</h2>
                    <div class="answer">The book measures 22x22 cms, an appropriate and comfortable size for the little ones.
                         There are 40 pages with double page illustrations in full colour with bright cuché paper of 300 grams and covered in long-lasting hardback.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">How long does it take?</h2>
                    <div class="answer">All the books are personalized and printed exclusively for you.
                         You'll be given an approximate delivery date when you order the book.</div>
                </article>

                  <article class="faq_item">
                    <h2 class="faq_item-title">How can I pay?</h2>
                    <div class="answer">We accept payment by debit or credit cards and Paypal but
                         if you have problems with these payments methods, we can also accept bank transfers.</div>
                </article>

                <article class="faq_item">
                    <h2 class="faq_item-title">Do you accept cash on delivery?</h2>
                    <div class="answer">Our stories are personalized and are printed exclusively
                         for you so we can't make the book without a payment in advance.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">Can you make a story with various characters?</h2>
                    <div class="answer">In all of our stories, there is only one character. Introducing more characters would entail redesigning 
                        all the scenes and texts. It could also end up undermining the importance of the main character.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">How much does the delivery cost?</h2>
                    <div class="answer">The delivery cost and taxes are not included in the price of the book.
                         Select a country to see the cost.</div>
                </article>

                <article class="faq_item">
                    <h2 class="faq_item-title">How can I apply a discount voucher?</h2>
                    <div class="answer">When you've added your story to the cart, you'll see a text box where you can 
                        introduce your code. You’ll see that your discount has been applied to the final price.</div>
                </article>

                   <article class="faq_item">
                    <h2 class="faq_item-title">I've just received the book and it's got a defect, what should I do?</h2>
                    <div class="answer">When you made your order, you received an email with a link to your order page. Please use that link to contact 
                        us and we'll be in touch as soon as possible.</div>
                </article>


                   <article class="faq_item">
                    <h2 class="faq_item-title">Where are you shipping to?</h2>
                    <div class="answer">We send our books to the United States, Canada, England, Spain, Portugal, France,
                         Germany, Italy, Denmark, Ireland, Netherland, Austria, Belgium and Luxembourg. We're constantly adding more countries, so we suggest you subscribe to our newsletter to find out when we start sending to your country.</div>
                </article>

                <article class="faq_item">
                    <h2 class="faq_item-title">Do you include the invoice in the parcel?</h2>
                    <div class="answer">No, we don't include any invoice in the parcel since most of our clients buy our books for gifts.
                         You can request and download your invoice through your order page.</div>
                </article>

                  <article class="faq_item">
                    <h2 class="faq_item-title">Is it possible to personalise the story?</h2>
                    <div class="answer">No, it is not possible to personalise the story. You can choose from the stories we have available. Currently, there are: Bubbles, Adventures in Alaska, The Kingdom 
                        of Mirinian and Jelly Planet. Here you find a synopsis of the stories and the values they convey.</div>
                </article>

                 <article class="faq_item">
                    <h2 class="faq_item-title">In what languages are the books available?</h2>
                    <div class="answer">Our books are available in the following languages: English (USA), English (UK),
                         French, German, Spanish, Catalan, Galician and Basque.</div>
                </article>
            </div>


</main>

</section>



        <footer>

        <div class="links">
            <div class="copy">&copy; 2018 KidMons</div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item1"><a href="index.html#manual">How it works </a></li>
                    <li class="bottom_nav_item1"><a href="index.html#similarity">What it’s like</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#about">Reviews</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#contact">Contacts</a> </li>
                </ul>
            </div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item2"><a href="story.html">Stories </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#contact">Contact </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#faq">Terms and conditions</a></li>
                    <li class="bottom_nav_item2"><a href="#">Privacy</a> </li>
                </ul>
            </div>
        </div>

        <div class="selectBox_wrapper">
            <div class="selectBox">
                <div class="select_wrapper currency">
                    <span class="select_title">Currency</span>
                    <div class="select_items" id="dropDown4">
                        <span id="currency" class="fot_text">US Dollars</span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>
                </div>
                <div class="select_wrapper" id="language2">
                    <span class="select_title" id="footerLanguage">Language</span>
                    <div class="select_items">
                        <img src="images/indexPage/united-states.svg" alt="united states" class="united_states" id="countryImg">
                        <span id="selectLanguage" class="fot_text">English </span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>


                    <div class="drop_hidden3" id="dropdown3">
                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/united-states.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f1" name="f6" class="l2 foot">
                                <label for="f1" class="c1">English </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/spain.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f2" name="f6" class="l2 foot">
                                <label for="f2" class="c1">Spanish </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/france.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f3" name="f6" class="l2 foot">
                                <label for="f3" class="c1">French </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/germany.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f4" name="f6" class="l2 foot">
                                <label for="f4" class="c1">German </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/italy.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f5" name="f6" class="l2 foot">
                                <label for="f5" class="c1">Italian </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/portugal.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f6" name="f6" class="l2 foot">
                                <label for="f6" class="c1">Portuguese </label>
                            </div>
                        </div>
                    </div>

                  
                </div>
                  <div class="drop_hidden4" id="dropdown4">
                        <div class="dropdown_item1">
                               <input type="radio" id="f19" name="f6" class="l3">
                                <label for="f19" class="c1">US Dollars </label>
                        </div>


                         <div class="dropdown_item1">
                                <input type="radio" id="f20" name="f6" class="l3">
                                <label for="f20" class="c1">EU Euro </label>
                            
                            
                        </div>
                    </div>
            </div>






        </div>
        
        
    </footer>

    <script src="js/common.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/dropdownFaq.js"></script>
</body>

</html>