<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KidMons</title>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/index_style.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <section class="header_wrapper">


        <header>

            <div class="logo">
                <img src="images/indexPage/logo.svg" alt="logo image" class="logo_img">
            </div>

            <div class="navigation" id="navigation">
                <nav>
                    <ul class="nav_list">

                        <li class="nav_item"><a href="index.html#manual">How it works</a></li>
                        <li class="nav_item"><a href="index.html#similarity">What it's like</a></li>
                        <li class="nav_item"><a href="index.html#about">Rewies</a></li>
                        <li class="nav_item"><a href="index.html#contact">Contacts</a></li>

                    </ul>
                </nav>


                <button class="create_story">Create your Story</button>
            </div>
            <img src="images/indexPage/Hamburger_icon.png" width="22" height="22" alt="menu icon" id="menuIcon" class="menu_icon">
            <img src="images/indexPage/cancel-icon.png" width="22" height="22" alt="menu icon" id="cancelMenu" class="hide_menu-icon">
        </header>


        <div class="serviceDescription">
            <div class="serviceDescription_text">
                <h1 class="serviceDescription_text_header">Create <br> Personalised Stories <br> for Children </h1>
                <p class="serviceDescription_text_footer">Get colorful book where’s your Kid is the main Hero!</p>
            </div>


            <img src="images/indexPage/monster1.svg" alt="monster image" width="152" height="169" class="headerMonster headerMonster1">
            <img src="images/indexPage/headermonster.png" alt="monster image" width="281" height="272" class="headerMonster headerMonster2">
            <img src="images/indexPage/headermonster2.png" alt="monster image" width="251" height="230" class="headerMonster headerMonster3">
			<img src="images/indexPage/materlu-books.png" alt="Blonde little kid with personalized Materlu book" class="photo-header">
        </div>
    </section>






    <section class="storySettings_wrapper">
        <div class="storySettings">
            <input type="text" class="Character_name" placeholder="Character’s Name">
            <div class="language" id="language">
                <img src="images/indexPage/united-states.svg" alt="country image" id="countryBox2">
                <p class="storySettings_language" id="headerLanguage">English</p>
                <img src="images/indexPage/down-arrow.svg" alt="arrow">
            </div>
            <input type="radio" id="r1" name="gender_choice" value="girl" class="gender_check">
            <label for="r1" class="storySettings_lable">Girl</label>
            <img src="images/indexPage/settings-girl.svg" alt="girl" class="storySettings_girl">
            <input type="radio" id="r2" name="gender_choice" value="boy" class="gender_check">
            <label for="r2" class="storySettings_lable">Boy</label>
            <img src="images/indexPage/martin.svg" alt="boy" width="29" height="49" class="storySettings_boy">
            <button class="create_story_settings">Create your Story</button>

          
        </div>

          <div class="drop_hidden" id="dropdown">
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/united-states.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f47" name="f6" class="l1">
                        <label for="f47" class="c2">English </label>
                    </div>
                </div>
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/spain.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f48" name="f6" class="l1">
                        <label for="f48" class="c2">Spanish </label>
                    </div>
                </div>
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/france.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f49" name="f6" class="l1">
                        <label for="f49" class="c2">French </label>
                    </div>
                </div>
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/germany.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f50" name="f6" class="l1">
                        <label for="f50" class="c2">German </label>
                    </div>
                </div>
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/italy.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f51" name="f6" class="l1">
                        <label for="f51" class="c2">Italian </label>
                    </div>
                </div>
                <div class="dropdown_item">
                    <div class="dropdowm_inner_item">
                        <img src="images/indexPage/portugal.svg" class="country_icon" alt="country icon">
                        <input type="radio" id="f52" name="f6" class="l1">
                        <label for="f52" class="c2">Portuguese </label>
                    </div>
                </div>
            </div>


    </section>
<main>
    <section class="bg_wrapper">

        <div class="manual" id="manual">
           <img src="images/indexPage/Path_2.svg" width="788" height="688" alt="bsckground image" class="manual_bg"> 

            <div class="mySlides fade">
                <img src="images/indexPage/manual-slide1.png" style="width:100%" alt="slide Image">
            </div>

            <div class="mySlides fade">
                <img src="images/indexPage/manual-slide1.png" style="width:100%" alt="slide Image">
            </div>

            <div class="mySlides fade">
                <img src="images/indexPage/manual-slide1.png" style="width:100%" alt="slide Image">
            </div>
            <div class="dot-container" style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <img src="images/indexPage/monster7.svg" width="141" height="150" alt="monster image" class="slider_monster">
            <h4 class="manual_title">How does it work ? </h4>
            <div class="manual_list">
                <div class="manual_list-item">
                    <img src="images/indexPage/crown.svg" width="87" height="93" alt="crown" class="manual_list_icons_item">
                    <span>Name the character.</span>
                </div>
                <div class="manual_list-item">
                    <img src="images/indexPage/palette.svg" width="91" height="87" alt="palette" class="manual_list_icons_item">
                    <span>Personalise their appearance.</span>
                </div>
                <div class="manual_list-item">
                    <img src="images/indexPage/pencil.svg" width="93" height="88" alt="pencil" class="manual_list_icons_item">
                    <span>Add a picture and a dedication.</span>
                </div>
                <div class="manual_list-item">
                    <img src="images/indexPage/rocket.svg" width="90" height="88" alt="rocket" class="manual_list_icons_item">
                    <span>Conveniently receive it at your home.</span>
                </div>
            </div>
        </div>
    </section>



    <section class="promotion_wrapper">

        <div class="promotion">
            <h3 class="promotion_title">Find out about all our latest news and promotions</h3>
            <form action="handler">
                <input type="text" placeholder="Your Email" class="promotion_mail">
                <input type="submit" value="send" class="promotion_send">
                <div class="promotion_convention">
                    <input type="checkbox" class="check">
                    <span class="agree">I have read and agree to KidMons <a href="#" class="privacy_link"> Privacy Policy</a></span>
                </div>
            </form>
        </div>
        
    </section>





    <section class="similarity" id="similarity">
        <h3 class="similarity_title">What's it like ? </h3>
        <div class="similarity_wrapper">

            <div class="similarity_list_wrapper">

                <div>
                    <ul class="similarity_list">
                        <li class="similarity_list_item">Hardback</li>
                        <li class="similarity_list_item">Die-cut book cover</li>
                        <li class="similarity_list_item">44 full-colour pages</li>
                        <li class="similarity_list_item">Laminated gloss stain-repellent</li>
                        <li class="similarity_list_item">Extra strong bindings</li>
                        <li class="similarity_list_item">With picture and dedication</li>
                    </ul>
                </div>
                <a href="story.html" class="similarity_stories">Our Stories</a>
            </div>


            <div class="similarity_slideshow">
                <div class="slideshow-container2">

                    <!-- Full-width images -->
                    <div class="mySlides2 fade">
                        <img src="images/indexPage/materlu-book-1.png" style="width:100%" alt="Book personalized by Materlu">
                    </div>

                    <div class="mySlides2 fade">
                        <img src="images/indexPage/materlu-book-3.png" style="width:100%" alt="Book personalized for children">
                    </div>

                    <div class="mySlides2 fade">
                        <img src="images/indexPage/similarity-slide1.png" style="width:100%" alt="Original book of Materlu">
                    </div>

                </div>
                <br>

                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot1"></span>
                    <span class="dot1"></span>
                    <span class="dot1"></span>
                </div>
            </div>

        </div>

    </section>
    




    <section class="bithdayGift">
        <div class="bithdayGift_wrapper">
            <h3 class="bithdayGift_title">Make a Birthday Gift !</h3>
            <p class="proposition_description">Please give us the child's name, date of birth, and your e-mail address. We’ll send you an e-mail a few days
                in advance, giving you the opportunity to buy the most exciting, educational and fun gift you could get.</p>

            <form action="handler" class="offer_check_in">
                <img src="images/indexPage/monster2.svg" width="251" height="265" class="birsday_monster" alt="M">
                <div class="birthday_text-fields">
                    <input type="text" class="offer_item offer_item-first" placeholder="Kids Name">
                    <input type="text" class="offer_item" placeholder="Your Email">
                    <input type="text" class="offer_item" placeholder="Full Birth Date">
                </div>
                <div class="form_footer">
                    <input type="submit" class="offer_send" value="Send"><br>
                    <input type="checkbox" class="check">
                    <span class="agree">I have read and agree to KidMons <a href="#" class="privacy_link"> Privacy Policy</a></span>
                </div>
            </form>
        </div>

    </section>





    <section class="faqs_wrapper" id="faq">
        <div class="faqs">
            <h3 class="faq_title">FAQs</h3>
            <div class="faqs_wrapper-item" id="faqWrapp">
                <div class="consumers faq_item">
                    <h4 class="faq_item_title">Who's it for?</h4>
                    <img src="images/indexPage/faq-kids.png" alt="kids image" class="faq_item-kids">
                    <p class="faqs_descr">We have books for kids at every reading level, from beginners to advanced readers.</p>
                </div>

                <div class="product_desc faq_item">
                    <h4 class="faq_item_title">What's it like?</h4>
                    <img src="images/indexPage/book.svg" alt="book image" class="faq_item-book">
                    <p class="faqs_descr">The book measures 22x22 cms, an appropiate and comfortable size for the little ones. There are 40 pages
                        with double page illustrations in full colour with bright cuché paper of 250 grams and covered in
                        long-lasting hardback.
                    </p>
                </div>

                <div class="delivery faq_item">
                    <h4 class="faq_item_title">How long does it take?</h4>
                    <img src="images/indexPage/delivery-truck.svg" alt="truck image" class="faq_item-truck">
                    <p class="faqs_descr">Click select the country from the dropdown to check estimated delivery time.</p>
                    <div class="country" id="drop2">
                        <p id="selectCountry" class="select_country">Italy</p>
                        <img src="images/indexPage/down-arrow.svg" alt="arrow">
                    </div>
                    <span class="duration">9 - 12 days  </span>

                    <div class="drop_hidden2" id="dropdown2">
                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">

                                <input type="radio" id="f13" name="f6" class="l2">
                                <label for="f13" class="c1">English </label>
                            </div>
                        </div>

                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">
                                <input type="radio" id="f14" name="f6" class="l2">
                                <label for="f14" class="c1">Spanish </label>
                            </div>
                        </div>

                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">

                                <input type="radio" id="f15" name="f6" class="l2">
                                <label for="f15" class="c1">French </label>
                            </div>
                        </div>

                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">
                                <input type="radio" id="f16" name="f6" class="l2">
                                <label for="f16" class="c1">German </label>
                            </div>
                        </div>

                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">
                                <input type="radio" id="f17" name="f6" class="l2">
                                <label for="f17" class="c1">Italian </label>
                            </div>
                        </div>

                        <div class="dropdown_item2">
                            <div class="dropdowm_inner_item2">

                                <input type="radio" id="f18" name="f6" class="l2">
                                <label for="f18" class="c1">Portuguese </label>
                            </div>
                        </div>


                    </div>
                </div>

            </div>



            <div class="allQuestions">
                <img src="images/indexPage/arrow-point-to-right_blue_copy.svg" alt="slider arrow" class="faq_slider-arrow" id="faqPrevious">
                <a href="faq.html" class="allQuestions_link">See All the Questions</a>
                <img src="images/indexPage/arrow-point-to-right_blue.svg" alt="slider arrow" class="faq_slider-arrow" id="faqNext">
            </div>
        </div>
    </section>






    <section class="yourStory">
        <h3 class="yourStory_title">Enjoy your personalised story</h3>
        <div class="image_box">
            <div>
                <img src="images/indexPage/smile-kids.png" alt="kids image" class="kids1">
            </div>
            <div>
                <div>
                    <img src="images/indexPage/little_girl_reading.png" alt="kids image" class="kids2">
                    <img src="images/indexPage/kiki-reading.png" alt="kids image" class="kids3">
                </div>
                <div>
                    <img src="images/indexPage/smile-town.png" alt="kids image" class="kids4">
                </div>
            </div>
            <div>
                <img src="images/indexPage/reading-kids.png" alt="kids image" class="kids5">
            </div>
        </div>
        <div class="test_wrapper-bg"> 
        <div class="test_bg"></div>
       </div>
    </section>






    <section class="about" id="about">
        <div class="about_wrapper">
            <h3 class="about_title">Opinions about us</h3>

            <div class="about_items-wrapper">
                <div class="about_items" id="aboutWrapp">

                    <div class="about_item">
                        <img src="images/indexPage/maria.svg" alt="Maria image" class="kids_img ">
                        <div class="about_item_description">
                            <p class="name">Maria fron London </p>
                            <img src="images/indexPage/quotes.png" alt="quotes">
                            <p class="maria">Beautiful book!</p>
                        </div>
                    </div>

                    <div class="about_item">
                        <img src="images/indexPage/leo.svg" alt="Leo image" class="kids_img">
                        <div class="about_item_description">
                            <p class="name">Leo fron Paris </p>
                            <img src="images/indexPage/quotes.png" alt="quotes">
                            <p class="leo">I ordered two books and they were delivered promptly and in perfect condition. The books are
                                beautiful quality, much better than I could have hoped for . Would highly recommend.</p>
                        </div>
                    </div>

                    <div class="about_item">
                        <img src="images/indexPage/martin.svg" alt="Martin image" class="kids_img">
                        <div class="about_item_description">
                            <p class="name">Martin fron Berlin</p>
                            <img src="images/indexPage/quotes.png" alt="quotes">
                            <p class="martin">The stories are all very cute, delivery fast and I was plesantly surprised by the quality of
                                the papaer, prinding and binding. I bought one book for our son and two for our nieces and
                                they all loved them, especially when they recognised themsleves in the story! Hope you can
                                add a few more stories in the future because I would definitely like to buy more. Keep up
                                the great work!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews">
                <img src="images/indexPage/about-arrow-left.svg" width="13" height="22" alt="slider arrow" class="slider_arrow" id="aboutSliderPrev">
                <a href="#" class="all_reviwes-link"> See All Reviews</a>
                <img src="images/indexPage/about-arrow-right.svg" alt="slider arrow" width="13" height="22" class="slider_arrow" id="aboutSliderNext">
                <img src="images/indexPage/monster1.png" width="176" height="188" alt="monster image" class="revies_monster">
            </div>
            <img src="images/indexPage/about-bg.svg" width="1592" height="1093" alt="background image" class="about_bg">
        </div>
    </section>





    <section class="contact" id="contact">
        <img src="images/indexPage/about-bg.svg" class="contact_bg" alt="background-image">
        <div class="contact_wrapper">
            <h3 class="contact_title">Contact Us</h3>
            <div class="check_in_wrapper">
                <form action="handler" class="check_in">
                    <input type="text" class="check_in_item" placeholder="Name">
                    <input type="text" class="check_in_item" placeholder="Your Email">
                    <input type="text" class="check_in_item" placeholder="Your Email">
                    <input type="text" class="check_in_item check_in_text">
                    <input type="submit" class="check_in_item contact_send" value="Send">
                    <div class="privacy_policy">
                        <input type="checkbox" class="check">
                        <span class="agree">I have read and agree to KidMons <a href="#" class="privacy_link"> Privacy Policy</a></span>
                    </div>
                </form>
                <div class="possible_questions">
                    <p class="possible-questions">Do you want to suggest something?</p>
                    <p class="possible-questions">Do you have any questions?</p>
                    <p class="possible-questions">Would you like to work with us?</p>
                    <img src="images/indexPage/monster1.svg" width="133" height="148" alt="monster image" class="monster_img1">
                    <img src="images/indexPage/mons04.png" width="286" height="301" alt="monster image" class="monster_img2">
                    <img src="images/indexPage/monster6.svg" width="321" height="394" alt="monster image" class="monster_img3">

                </div>
            </div>
        </div>
    </section>


</main>




    <footer>

        <div class="links">
            <div class="copy">&copy; 2018 KidMons</div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item1"><a href="index.html#manual">How it works </a></li>
                    <li class="bottom_nav_item1"><a href="index.html#similarity">What it’s like</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#about">Reviews</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#contact">Contacts</a> </li>
                </ul>
            </div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item2"><a href="story.html">Stories </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#contact">Contact </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#faq">Terms and conditions</a></li>
                    <li class="bottom_nav_item2"><a href="#">Privacy</a> </li>
                </ul>
            </div>
        </div>

        <div class="selectBox_wrapper">
            <div class="selectBox">
                <div class="select_wrapper currency">
                    <span class="select_title">Currency</span>
                    <div class="select_items" id="dropDown4">
                        <span id="currency" class="fot_text">US Dollars</span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>
                </div>
                <div class="select_wrapper" id="language2">
                    <span class="select_title" id="footerLanguage">Language</span>
                    <div class="select_items">
                        <img src="images/indexPage/united-states.svg" alt="united states" class="united_states" id="countryImg">
                        <span id="selectLanguage" class="fot_text">English </span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>


                    <div class="drop_hidden3" id="dropdown3">
                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/united-states.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f1" name="f6" class="l2 foot">
                                <label for="f1" class="c1">English </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/spain.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f2" name="f6" class="l2 foot">
                                <label for="f2" class="c1">Spanish </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/france.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f3" name="f6" class="l2 foot">
                                <label for="f3" class="c1">French </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/germany.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f4" name="f6" class="l2 foot">
                                <label for="f4" class="c1">German </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/italy.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f5" name="f6" class="l2 foot">
                                <label for="f5" class="c1">Italian </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/portugal.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f6" name="f6" class="l2 foot">
                                <label for="f6" class="c1">Portuguese </label>
                            </div>
                        </div>
                    </div>

                  
                </div>
                  <div class="drop_hidden4" id="dropdown4">
                        <div class="dropdown_item1">
                               <input type="radio" id="f19" name="f6" class="l3">
                                <label for="f19" class="c1">US Dollars </label>
                        </div>


                         <div class="dropdown_item1">
                                <input type="radio" id="f20" name="f6" class="l3">
                                <label for="f20" class="c1">EU Euro </label>
                            
                            
                        </div>
                    </div>
            </div>






        </div>
        
        
    </footer>


    <script src="js/common.js"></script>
</body>

</html>