<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
     <link rel="stylesheet" href="css/normalize.css">
</head>

<body class="storyPage">
    <section class="main_wrapper">
    <div class="header_wrapper">
        <img src="images/storyPage/header-bg.svg" width="557" height="462" alt="" class="header_bg">
         <img src="images/storyPage/monster1.png" alt="monster image" class="header_monster">
          <header>

            <div class="logo">
                <img src="images/indexPage/logo.svg" alt="logo image" class="logo_img">
            </div>

            <div class="navigation" id="navigation">
                <nav>
                    <ul class="nav_list">

                        <li class="nav_item"><a href="index.html#manual">How it works</a></li>
                        <li class="nav_item"><a href="index.html#similarity">What it's like</a></li>
                        <li class="nav_item"><a href="index.html#about">Rewies</a></li>
                        <li class="nav_item"><a href="index.html#contact">Contacts</a></li>

                    </ul>
                </nav>


              
            </div>
            <img src="images/indexPage/Hamburger_icon.png" width="22" height="22" alt="menu icon" id="menuIcon" class="menu_icon">
            <img src="images/indexPage/cancel-icon.png" width="22" height="22" alt="menu icon" id="cancelMenu" class="hide_menu-icon">
        </header>
    </div>


    <main>

    <section class="chooseStory">

        <h3 class="chooseStory_title">Choose your story</h3>



        <div class="chooseStory_item1">
            <div class="chooseStory_item_img">
                <img src="images/storyPage/firstStory.png" alt="story image" width="420" height="289" class="story_img">
            </div>

            <div class="chooseStory_item_descr">
                <div class="descr_title">
                    <h4 class="story_name">Jelly Planet</h4>
                    <span class="price">$40</span>
                </div>
                <p class="main_descr">
                    In the distant future, the main character of this adventure will have to resolve an important interplanetary conflict. He
                    or she will experience unimaginable situations, accompanied by a faithful sidekick, a mutant pet that
                    is half-dog and half-crocodile. The planet Earth is in serious danger… will they be able to save it?
                </p>
                <p class="values">Main values:</p>
                <div class="icons">
                    <div class="icon_item">
                        <img src="images/storyPage/firstItem-icon1.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Generocity</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/firstItem-icon2.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Tolerancy</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/firstItem-icon3.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Creativity</p>
                    </div>
                </div>
               <a href="character.html" class="personalize"> Personalize this Story</a>
            </div>
        </div>



        <div class="chooseStory_item2">
            <div class="chooseStory_item_img">
                <img src="images/storyPage/secondStory.png" alt="story image" width="420" height="289" class="story_img">
            </div>
            <div class="chooseStory_item_descr">
                <div class="descr_title">
                    <h4 class="story_name">Bubbles</h4>
                    <span class="price">$45</span>
                </div>
                <p class="main_descr">
                    Our little hero lives close to the sea, and has great fun playing on the beach. There is just one problem: getting into the
                    sea frightens him/her, because he/she is afraid of any horrible creatures that may be lurking under the
                    water. With the help of a new friend - a turtle who is afraid to leave the sea - he/she discovers how
                    important it is for us to face our fears and how much fun it is to \discover new places and make new
                    friends.
                </p>
                <p class="values">Main values:</p>
                <div class="icons">
                    <div class="icon_item">
                        <img src="images/storyPage/secondItem-icon1.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Fears</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/secondItem-icon2.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Confidence</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/secondItem-icon3.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Friendship</p>
                    </div>
                </div>
              <a href="character.html" class="personalize">  Personalize this Story</a>
            </div>
        </div>




        <div class="chooseStory_item3">
            <div class="chooseStory_item_img">
                <img src="images/storyPage/thirdStory.png" alt="story image" width="420" height="289" class="story_img">
            </div>
            <div class="chooseStory_item_descr">
                <div class="descr_title">
                    <h4 class="story_name alaska_title">Adventures in Alaska</h4>
                    <span class="price">$45</span>
                </div>
                <p class="main_descr">
                    Our brave hero spends every summer in Alaska, playing and having fun with his/her friends, the little bears. After a long
                    winter, the bears have grown a lot and one of them, Sam, has been excluded from the group for being slow
                    and clumsy. With the help of our hero, Sam will learn how to be a loyal and courageous friend.
                </p>
                <p class="values">Main values:</p>
                <div class="icons">
                    <div class="icon_item">
                        <img src="images/storyPage/thirdItem-icon1.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Empathy</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/thirdItem-icon2.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Self-Esteem</p>
                    </div>
                    <div class="icon_item">
                        <img src="images/storyPage/thirdItem-icon3.png" alt="value icon" class="descr_item">
                        <p class="icon_descr">Bulling</p>
                    </div>
                </div>
                <a href="character.html" class="personalize"> Personalize this Story</a>
            </div>
            <img src="images/storyPage/monster3.png" alt="monster image" class="monster3">
        </div>

    </section>
    </main>
</section>


  
   <footer>

        <div class="links">
            <div class="copy">&copy; 2018 KidMons</div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item1"><a href="index.html#manual">How it works </a></li>
                    <li class="bottom_nav_item1"><a href="index.html#similarity">What it’s like</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#about">Reviews</a></li>
                    <li class="bottom_nav_item1"><a href="index.html#contact">Contacts</a> </li>
                </ul>
            </div>
            <div>
                <ul class="bottom_nav">
                    <li class="bottom_nav_item2"><a href="story.html">Stories </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#contact">Contact </a></li>
                    <li class="bottom_nav_item2"><a href="index.html#faq">Terms and conditions</a></li>
                    <li class="bottom_nav_item2"><a href="#">Privacy</a> </li>
                </ul>
            </div>
        </div>

        <div class="selectBox_wrapper">
            <div class="selectBox">
                <div class="select_wrapper currency">
                    <span class="select_title">Currency</span>
                    <div class="select_items" id="dropDown4">
                        <span id="currency" class="fot_text">US Dollars</span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>
                </div>
                <div class="select_wrapper" id="language2">
                    <span class="select_title" id="footerLanguage">Language</span>
                    <div class="select_items">
                        <img src="images/indexPage/united-states.svg" alt="united states" class="united_states" id="countryImg">
                        <span id="selectLanguage" class="fot_text">English </span>
                        <img src="images/indexPage/down-arrow.svg" width="15" height="8" alt="arrow" class="shape">
                    </div>


                    <div class="drop_hidden3" id="dropdown3">
                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/united-states.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f1" name="f6" class="l2 foot">
                                <label for="f1" class="c1">English </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/spain.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f2" name="f6" class="l2 foot">
                                <label for="f2" class="c1">Spanish </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/france.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f3" name="f6" class="l2 foot">
                                <label for="f3" class="c1">French </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/germany.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f4" name="f6" class="l2 foot">
                                <label for="f4" class="c1">German </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/italy.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f5" name="f6" class="l2 foot">
                                <label for="f5" class="c1">Italian </label>
                            </div>
                        </div>

                        <div class="dropdown_item1">
                            <div class="dropdowm_inner_item1">
                                <img src="images/indexPage/portugal.svg" class="country_icon" alt="country icon">
                                <input type="radio" id="f6" name="f6" class="l2 foot">
                                <label for="f6" class="c1">Portuguese </label>
                            </div>
                        </div>
                    </div>

                  
                </div>
                  <div class="drop_hidden4" id="dropdown4">
                        <div class="dropdown_item1">
                               <input type="radio" id="f19" name="f6" class="l3">
                                <label for="f19" class="c1">US Dollars </label>
                        </div>


                         <div class="dropdown_item1">
                                <input type="radio" id="f20" name="f6" class="l3">
                                <label for="f20" class="c1">EU Euro </label>
                            
                            
                        </div>
                    </div>
            </div>






        </div>
        
        
    </footer>


    <script src="js/common.js"></script>
</body>

</html>